@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"),
<<<<<<< HEAD
    url("../fonts/BebasNeue-Regular.ttf") format("truetype");
=======
    url("../../fonts/BebasNeue-Regular.ttf") format("truetype");
>>>>>>> refactoring-code
}

@font-face {
  font-family: "Zing";
  src: local("Zing"),
<<<<<<< HEAD
    url("../fonts/Zing/ZingRustD2Demo-Base.otf") format("opentype");
=======
    url("../../fonts/Zing/ZingRustD2Demo-Base.otf") format("opentype");
>>>>>>> refactoring-code
}

@font-face {
  font-family: "Nimbus";
  src: local("Nimbus"),
<<<<<<< HEAD
    url("../fonts/Nimbus/NimbusMono-Regular.otf") format("opentype");
=======
    url("../../fonts/Nimbus/NimbusMono-Regular.otf") format("opentype");
>>>>>>> refactoring-code
}

@font-face {
  font-family: "KeepCalm";
<<<<<<< HEAD
  src: local("KeepCalm"), url("../fonts/KeepCalm-Medium.ttf") format("truetype");
=======
  src: local("KeepCalm"),
    url("../../fonts/KeepCalm-Medium.ttf") format("truetype");
>>>>>>> refactoring-code
}
