@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"),
  url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Zing";
  src: local("Zing"),
  url("../fonts/Zing/ZingRustD2Demo-Base.otf") format("opentype");
}
