@import "_colors";
@import "_fonts";

.cardCont {
  max-width: 1024px;
  margin: auto;
  margin-top: 230px;

  &__noBooks {
    font-family: "Zing";
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    span {
      position: relative;
      cursor: pointer;
    }

    span:after {
      content: "";
      position: absolute;
      background-color: $mainMedium;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 15px;
      z-index: -1;
      transition: all 0.2s linear;
    }

    span:hover:after {
      height: 0;
    }
  }
}
