@import "_colors";
@import "_fonts";

.card {
  display: flex;
  padding: 2rem;
  margin-bottom: 2rem;
  position: relative;
  background: white;
  border: 2px solid black;
  font-family: "BebasNeue";

  &:after {
    content: "";
    background-image: radial-gradient(#000000 20%, #ffffff 20%);
    background-position: 0 0;
    background-size: 6px 6px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: -2;
    transition: all 0.3s linear;
  }

  &:hover:after {
    bottom: -20px;
    right: -20px;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__left {
    width: 90%;
  }

  &__right {
    width: 10%;
    justify-content: space-around;
  }

  &__author {
    padding-left: 1rem;
  }

  &__rate {
    width: 100%;
  }

  &__info {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    padding: 10px;
    font-family: "Zing";

    &:before {
      transition: width 1s;
      content: "";
      width: 0%;
      height: 12px;
      background: linear-gradient(
        80deg,
        rgba(207, 70, 252, 0) 8%,
        rgba(182, 88, 222, 0.8298669809720763) 16%,
        rgba(181, 111, 200, 0.9419117988992471) 28%,
        rgba(212, 162, 213, 0.11558126668636204) 89%,
        rgba(214, 165, 214, 0.7122199221485469) 93%,
        rgba(207, 70, 252, 0) 94%
      );
      bottom: 2px;
      left: 0px;
      position: absolute;
    }

    &:hover:before {
      width: 100%;
    }
  }

  &__moreInfo {
    background-color: $lightBackground;
    width: 400px;
    right: 140px;
    position: absolute;
    z-index: 100;
    border: 4px solid $mainDark;
    padding: 15px;
    border-radius: 0.5rem;
    font-family: "Zing";

    &:before {
      content: "";
      right: -41px;
      position: absolute;
      top: calc(50% - 20px);
      z-index: 100;
      border-color: transparent transparent transparent $mainDark;
      border-style: solid;
      border-width: 20px 20px 20px 20px;
      height: 0px;
      width: 0px;
    }
  }

  &__date {
    text-align: right;
  }

  &__notes {
    margin-left: 25px;
    text-align: left;

    &:before {
      position: absolute;
      content: "NOTES";
      color: white;
      left: -17px;
      padding: 1px 10px;
      top: 44%;
      background: black;
      width: auto;
      transform: rotate(270deg);
    }
  }

  &__delete {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}
