@import "_colors";
@import "_fonts";

h1 {

}

body {
  overflow: overlay;
}

.customButton {
  align-items: center;
  background-color: $mainLight;
  border: 2px solid black;
  border-radius: 0.5rem;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 50px;
  justify-content: center;
  line-height: 24px;
  position: relative;
  padding: 0 20px;
  font-family: "BebasNeue";

  &:after {
    content: "";
    background-color: black;
    border-radius: 0.5rem;
    height: 50px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(6px, 6px);
    transition: transform .2s ease-out;
    z-index: -1;
  }

  &:hover:after {
    transform: translate(0, 0);
  }

}
