@media (max-width: 1200px) {
  .cardCont {
    padding: 0 30px;
  }

  .filterCont {
    .customDropdown {
      left: 80px;
      width: 130px;
    }
  }
  .card {
    &__left,
    &__right {
      text-align: left;
    }
  }

  .navbarSm {
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }

  .footer {
    padding: 0 1rem;
  }
}

@media (max-width: 800px) {
  .card__moreInfo {
    width: 300px;
  }
}

@media (max-width: 576px) {
  .navbar {
    display: flex;
    flex-direction: column-reverse;
    height: 170px;

    &__text {
      padding: 2rem 0 1rem 0;
      font-size: 1.5rem;
    }

    &__buttons {
      justify-content: center;
      flex-direction: column !important;

      button {
        margin: 0 0 20px 0;
      }
    }
  }
  .navbarSm {
    height: 160px;
  }

  .cardCont {
    margin-top: 170px;
  }

  .card {
    flex-direction: column;
    padding: 1rem;

    &__moreInfo {
      width: 90%;
      right: auto;
      bottom: 80px;

      &:before {
        right: calc(50% - 20px);
        bottom: -40px;
        border-color: #7a1a7a transparent transparent transparent;
        top: auto;
      }
    }

    &__left {
      width: 100%;
      align-items: flex-start;
      flex-direction: column;
    }

    &__author {
      padding-left: 0;
    }

    &__right {
      width: 100%;
    }

    &__notes {
      height: 55px;
      overflow: scroll;
    }
  }

  .addBook {
    width: 90%;
    box-sizing: border-box;
    padding: 40px 20px 20px 20px;

    &__datenrate {
      flex-direction: column;
    }

    &__date {
      margin-top: 10px;
    }
  }
}
